@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    
    body{
        font-family: "Montserrat", sans-serif;
        color: var(--color-light);
        background: var(--color-dark);
        overflow-x: hidden;
    }
    
    .container{
        width: 80%;
        margin: 0 auto;
    }

    .app-grid {
        display: grid;
        grid-template-rows: auto 1fr; /* El nav estará arriba, el contenido restante ocupará el espacio restante */
        grid-template-columns: 1fr 1fr 1fr; /* El navbar estará a la izquierda, el contenido restante ocupará el espacio restante y el NavBart estará a la derecha */
        height: 100vh; /* Ajusta la altura de la grid al 100% del viewport */
      }
      
      .app-grid-sidebar {
        grid-row: span 2; /* El navbar ocupará dos filas */
      }
      
      .app-grid-navbart {
        grid-column: 3; /* NavBart estará en la tercera columna */
        grid-row: span 2; /* NavBart ocupará dos filas */
      }
      
      .app-grid-content {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      